
<ul class="nav nav-tabs">
    <li role="presentation"><a href="http://localhost:3000">Home</a></li>
    <li role="presentation"><a href="http://localhost:3000/menu">menu</a></li>
    <li style="float:right;" role="presentation"><a href="http://localhost:3000/signup">Sign up</a></li>
    <li style="float:right;" role="presentation"><a href="http://localhost:3000/signin">Sign in</a></li> <!-- 미안하다 귀찮았다 -_-;; -->
    <!--
    <li role="presentation"><a href="http://localhost:3000/css">css</a></li>
    <li role="presentation"><a href="http://localhost:3000/javascript">javascript</a></li>
    <li role="presentation"><a href="http://localhost:3000/nodejs">nodejs</a></li>
    <li role="presentation"><a href="http://localhost:3000/mongodb">mongodb</a></li>
    <li role="presentation"><a href="http://localhost:3000/angularjs">angularjs</a></li>
    -->
</ul>