<%- layout('./layouts/layout') %>
<%- stylesheet('/css/main.css') %>
<%- partial('./partials/list') %>
<article>
<h1>test page</h1>
<ul>
    <li>1. 필요한 기능들을 익히기 위해서는 하나씩 써봐야 한다.</li>
    <li>2. 페이지를 관통하는 알고리즘을 생각해 내야 한다.</li>
    <li>3. 생각한 알고리즘들을 구현하기 위해서 필요한 기능들을 꺼내들어야 한다.</li>
    <li>4. 소스를 관리하고 앞으로 나아가면서 버전을 관리해야 한다.</li>
    <li>5. 협업을 위해서 최대한 많은 지식들을 간결하게(에너지를 소비하지 않으면서) 공유해야 한다.</li>
    <li>6. 우리만의 문서를 만들어서(사업과는 상관없는 발전과 진행을 위한) 계속해서 리뉴얼하고 정리해야 한다. 이는 언제 어디서든 접속해서 읽어 보고, 수정할 수 있어야 한다.</li>
    <li>7. 이곳에 쓰여진 문서들은 세부적인 쓰임들이며 내가 스스로 파악한 날것이어야 하며, 연관 자료들도 모두 첨부되는게 좋겠다.</li>
    <li>8. 서로의 글들은 한데 섞일것이며 수정되어질 것이고, 속도가 붙고 자료가 쌓이는 순간 강력한 무기가 되어야 한다.</li>
    <li>9. 자료의 구성에 매몰되어서는 안되며, 복습의 개념으로 내가 익힌 기술을 정리하는 식이어야 한다. </li>
</ul>

<h1>QnA</h1>
<ul>    
<li>1. 이 문서를 정리하는 시간을 따로 할애하는 것이 적절한가?</li>
<li>2. 귀찮음과 억압적인 느낌이 들지는 않을 것인가? 재미있을 것 같은가??</li>
</ul>

<h2> 진행해야 될 일</h2>
<ul>
<li>1. 깃 전략짜기 (원격저장소 등록은 했음) </li>
<li>2. 메뉴 라우팅하기</li>
<li>3. 폴더 정리하기</li>
<li>4. 꼭 익혀야 할 사이트들 정리</li>
</ul>
</article>